/* display loading gif and hide webpage */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8)
              url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
}

/* prevent scrollbar from display during load */
body.loading {
  overflow: hidden;
}

/* display the modal when loading class is added to body */
body.loading .modal {
  display: block;
}

.hidden {
  display: none !important;
}

body, h1, h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

img {
  display: none;
}


img[src] {
 display: block;
}

#content, #face-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#5f0a87, #a4508b);
}

#header, #face-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
  color: white;
  margin: 20px 0px;
}

.footer-btn {
  text-decoration: none;
  border: none;
  background-color: darkgray;
  color: lightgray;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .1);
  margin: 10px;
  cursor: default;
  pointer-events: none;
  transition: .3s ease-out;
}

.enabled {
  background-color: #5f0a87;
  color: white;
  cursor: pointer;
  pointer-events: auto;
}

#images, #face-images {
  display: flex;
  justify-content: space-evenly;
}

.image-container {
  width: 40vw;
  height: auto;
}

#file-upload, #buttons, #face-file-upload, #face-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

#switch-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}